/*Basic styles to begin with*/
h1{
	color: blue;
	text-align: center;
	margin: 10px;
	font-family:"Impact";
	font-size: 30pt;
	margin-bottom: 30px;
}
h2{
	color: blue;
	text-align: center;
	margin: 10px;
	font-family:"Impact";
	font-size: 25pt;
	margin-bottom: 21px;
}
h3{
	color: blue;
	text-align: center;
	margin: 10px;
	font-family:"Impact";
	font-size: 20pt;
}
h4{
	color: #0066CC;
    text-align: center;
	margin: 10px;
}
body{
	background-color: cornflowerblue;
	font-family:"Palatino Linotype";
}


#sml_font {
	font-size: 12px;
	padding-top: 19px;
	padding-right: 5px;
	padding-left: 5px;
}

#med_font {
	font-size: 17px;
	padding-right: 5px;
	padding-left: 5px;
}

#lrg_font {
	font-size: 22px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 9px;
	padding-bottom: 2px;
}

/*Specific style for the title*/
.title{
	color: rgb(121, 20, 209);
	font-size: 40pt;
}

/*Navigation Bars styling options*/

.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #4F88EC;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
   .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

a button {
	font-size: 13px;
}

.logo {
	height: 24px;
}

.center{
	align-content: center;
}

.current{
	background-color: #4F88EC;
}

/*Specific Styling options for each different page*/
.about-area{
	padding-bottom: 30px;
}

.about-area p{
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

.work-area{
	padding-bottom: 30px;
}

.work-area p{
	padding-left: 20px;
	padding-right: 20px;
}

.youtube-area{
	padding-bottom: 30px;
}

.contact-area{
	padding-bottom: 30px;
}

#entryPage{
	background-image: url("About_Header.jpg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: auto;
}

#entryPage h1{
	color: rgba(255, 255, 255, 0.8);
	font-size: 80px;
	line-height: 600px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#entryPage button{
	position: absolute;
	top: 70%;
	left: 39%;
	font-size: 50px;

}

#entryPage p{
	color: rgba(255, 255, 255, 0.8);
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*This section contains all the code to make the parallax effect on the images work correctly*/
.container {
	height: relative;
	margin: 0 auto;
}

section.module:last-child {
	margin-bottom: 0;
}

section.module p:last-child {
	margin-bottom: 0;
}

section.module.content{
	padding: 40px 0;
}

section.module.parallax {
	height: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
}

section.module.parallax h1 {
	color: rgba(255, 255, 255, 0.8);
	font-size: 48px;
	line-height: 600px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax-1 {
	background-image: url("About_Header.jpg");
}

section.module.parallax-2 {
	background-image: url("Work_Image.jpg");
}

section.module.parallax-3 {
	background-image: url("Youtube_Video3.jpg");
}

section.module.parallax-4 {
	background-image: url("South_London_Map2.jpg");
}

section.module.parallax-5 {
	background-image: url("Youtube_Header.jpg");
}
/*Syling options which make the image on the home page circular and also animate on hover*/
#selfie{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

#selfie:hover{
	content: url('Vampire_Blur_wc2.jpg');
}
/*Align the subscriber counter to the center of the page*/
iframe.Subscriber{
    text-align: center;
}
/*Styles the video container to look the correct way and be positioned correctly*/
.video-container{
	position: relative;
	padding-bottom: 56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top:0;
	left:0;
	width:50%;
	height:50%;
	z-index: 1;
}

/*All options for the scrolling photobanner which houses my video thumbnails*/ 
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 392px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

.mySlides img{
	width: 392px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  0%, 100% {opacity: 0} 
  30%, 70% {opacity: 1}
}

@keyframes fade {
  0%, 100% {opacity: 0} 
  30%, 70% {opacity: 1}
}

/*Styling options for my footer which is present on every page*/
footer{
	text-align: center;
	background-color: #212121;
	color: #CCC;
	padding: 30px;
}
/*Universal styling for every button within my website*/
button{
	color: #FFF;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	background-color: #2200e5;
	align-content: center;
	border-radius: 8px;
}

button:hover{
	background-color: #1b00ba;
}

.form-group p{
	color: red;
	font-weight: bold;
}

.selection {
	color: black;
	height: 24px;
	font-size: 15px;
}