/*Basic styles to begin with*/
h1{
	color: blue;
	text-align: center;
	margin: 10px;
	font-family:"Impact";
	font-size: 30pt;
	margin-bottom: 30px;
}
h2{
	color: blue;
	text-align: center;
	margin: 10px;
	font-family:"Impact";
	font-size: 25pt;
	margin-bottom: 21px;
}
h3{
	color: blue;
	text-align: center;
	margin: 10px;
	font-family:"Impact";
	font-size: 20pt;
}
h4{
	color: #0066CC;
    text-align: center;
	margin: 10px;
}
body{
	background-color: #181ba2;
	font-family:"Palatino Linotype";
}
/*Specific style for the title*/
.title{
	color: rgb(121, 20, 209);
	font-size: 40pt;
}
/*Navigation styling to get it to look and animate correctly*/
nav{
	z-index: 2;
	position: relative;
}

.topnav{
	position: fixed;
	top: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

.topnav li{
	float: left;
}

.topnav li a{
    display: inline-block;
    color: #f2f2f2;
    text-align:center;
    padding:14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

.topnav li a:hover{
	background-color: #4F88EC;
}

.center{
	align-content: center;
}

.TopScreen{
	background-color: cornflowerblue; 
	padding-bottom: 30px;
}
/*Specific Styling options for each different page*/
.about-area{
	background-color: #2f77db;
	padding-bottom: 30px;
}

.about-area p{
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	font-size: 17px;
}

.work-area{
	background-color: #7560ff;
	padding-bottom: 30px;
}

.work-area p{
	padding-left: 20px;
	padding-right: 20px;
}

.youtube-area{
	background-color: #181ba2;
	padding-bottom: 30px;
}

.youtube-area p{
	color: white;
}

.contact-area{
	background-color: #5c65ff;
	padding-bottom: 30px;
}

/*This section contains all the code to make the parallax effect on the images work correctly*/
.container {
	max-width: 960px;
	margin: 0 auto;
}

section.module:last-child {
	margin-bottom: 0;
}

section.module p {
	margin-bottom: 40px;
	font-size: 16px;
	font-weight: 300;
}

section.module p:last-child {
	margin-bottom: 0;
}

section.module.content{
	padding: 40px 0;
}

section.module.parallax {
	height: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

section.module.parallax h1 {
	color: rgba(255, 255, 255, 0.8);
	font-size: 48px;
	line-height: 600px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax-1 {
	background-image: url("About_Header.jpg");
}

section.module.parallax-2 {
	background-image: url("Work_Image.jpg");
}

section.module.parallax-3 {
	background-image: url("Youtube_Video3.jpg");
}

section.module.parallax-4 {
	background-image: url("South_London_Map2.jpg");
}

section.module.parallax-5 {
	background-image: url("Youtube_Header.jpg");
}
/*Syling options which make the image on the home page circular and also animate on hover*/
#selfie{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

#selfie:hover{
	content: url('Vampire_Blur_wc2.jpg');
}
/*Align the subscriber counter to the center of the page*/
iframe.Subscriber{
    text-align: center;
}
/*Styles the video container to look the correct way and be positioned correctly*/
.video-container{
	position: relative;
	padding-bottom: 56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top:0;
	left:0;
	width:50%;
	height:50%;
	z-index: 1;
}

/*All options for the scrolling photobanner which houses my video thumbnails*/ 
#container {
	width: 100%;
	overflow: hidden;
	margin: 50px auto;
	
}

.photobanner {
	height: 100px;
	width: 7000px;
	margin-bottom: 10px;
}

.photobanner img {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
 
.photobanner img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	cursor: pointer;
 
	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

.first {
	-webkit-animation: bannermove 30s linear infinite;
	   -moz-animation: bannermove 30s linear infinite;
		-ms-animation: bannermove 30s linear infinite;
	     -o-animation: bannermove 30s linear infinite;
	   	    animation: bannermove 30s linear infinite;
}

@keyframes bannermove {
	0% {
		margin-left: 0px;
	}
	100% {
		margin-left: -4700px;
	}
}

@-moz-keyframes bannermove {
	0% {
   		margin-left: 0px;
    }
    100% {
        margin-left: -4700px;
    }
}

@-webkit-keyframes bannermove {
 	0% {
   		margin-left: 0px;
 	}
	100% {
   		margin-left: -4700px;
 	}
}
 
@-ms-keyframes bannermove {
 	0% {
   		margin-left: 0px;
 	}
 	100% {
   		margin-left: -4700px;
 	}
}

@-ms-keyframes bannermove{
	0% {
		margin-left: 0px;
	}
	100%{
		margin-left: -4700px;
	}
}

@-o-keyframes bannermove {
 	0% {
   		margin-left: 0px;
 	}
 	100% {
   		margin-left: -4700px;
 	}
 }
/*Styling options for my footer which is present on every page*/
footer{
	text-align: center;
	background-color: #212121;
	color: #CCC;
	padding: 30px;
}
/*Universal styling for every button within my website*/
button{
	color: #FFF;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	background-color: #2200e5;
	align-content: center;
	border-radius: 8px;
}

button:hover{
	background-color: #1b00ba;
}
